<nav class="navbar fixed-bottom navbar-sm navbar-dark" style="background-color: #fff;" "overflow:auto;" >
  <span class="navbar-text" style="color:#ff6600;">
      (c) 2017 McKesson Corp.
  </span>
</nav>