  <%= link_to image_tag("favicon3.ico", alt: "logo"),'/' %>
<nav class="navbar navbar-expand-md navbar navbar-dark navbar-fixed-top" style="background-color: #005a8c;">
<head>
  <style>
  /* unvisited link */
  a:link {
      color: blue;
  }

  /* visited link */
  a:visited {
      color: purple;
  }
  </style>
</head>
  <a class="navbar-brand" href="/all_reports">GX Sales Reports</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !@is_logged_in %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in"><i class="fa fa-recycle"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up"><i class="fa fa-plus-circle"></i> Register</a>
        </li>
      <% elsif @is_admin %>
        <li class="nav-item">
          <a class="nav-link" href="/users"><i class="fa fa-users"></i> Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/reports"><i class="fa fa-plus-circle"></i> Daily Sales Summary</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" href="/all_reports"><i class="fa fa-plus-circle"></i> All Reports</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" href="/all_reports/new"><i class="fa fa-plus-circle"></i> Add New Report</a>
        </li> 

      <% elsif @is_user %>
        <li class="nav-item">
          <a class="nav-link" href="/reports"><i class="fa fa-plus-circle"></i> Daily Sales Summary</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" href="/all_reports"><i class="fa fa-plus-circle"></i> All Reports</a>
        </li>
      <% end %>

      <% if @is_logged_in %>
        <li class="nav-item">
          <a class="nav-link" href="/users/edit"><i class="fa fa-id-card"></i> Profile</a>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
            <i class="fa fa-window-close"></i> <%= "#{@user.email} (#{@user.role})" %>
          <% end %>
        </li>
      <% end %>
  </div>
</nav>